<h1>Comments page</h1>

<form action="/addcomments" method="post">
  <p>
    <label for="title">title:</label>
    <input type="text" name="title" placeholder="title" />
  </p>

  <p>
    <label for="message">message:</label>
    <input type="text" name="message" placeholder="message" required/>
  </p>

  <p>
    <label for="email">email:</label>
    <input type="text" name="email" placeholder="email" required/>
  </p>


  <p>
    <button type="submit">Submit</button>
  </p>
</form>
