<h1>Login page</h1>

<form action="/auth" method="post">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="username" required />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="password" required />
  </p>

  <p>
    <button type="submit">Login</button>
  </p>
</form>
