<h1>
    Welcome to the products page
</h1>

<form action="/submit_ratings" method="post">
    <div class="product">
      <label for="product1">Product 1</label>
      <select id="product1" name="rating_product1">
        <option value="">Select rating</option>
        <option value="1">1 - Poor</option>
        <option value="2">2 - Fair</option>
        <option value="3">3 - Good</option>
        <option value="4">4 - Very Good</option>
        <option value="5">5 - Excellent</option>
      </select>
    </div>
  
    <div class="product">
      <label for="product2">Product 2</label>
      <select id="product2" name="rating_product2">
        <option value="">Select rating</option>
        <option value="1">1 - Poor</option>
        <option value="2">2 - Fair</option>
        <option value="3">3 - Good</option>
        <option value="4">4 - Very Good</option>
        <option value="5">5 - Excellent</option>
      </select>
    </div>
  
    <div class="product">
      <label for="product3">Product 3</label>
      <select id="product3" name="rating_product3">
        <option value="">Select rating</option>
        <option value="1">1 - Poor</option>
        <option value="2">2 - Fair</option>
        <option value="3">3 - Good</option>
        <option value="4">4 - Very Good</option>
        <option value="5">5 - Excellent</option>
      </select>
    </div>
    <p>
      <button type="submit" class="submit-btn">Submit Ratings</button>
    </p>
  </form>
  

  <p> Click <a href="/dashboard">here to go to dashboard page</a> if you are a admin user </p>