<h1>Register page</h1>

<form action="/reg", method="post">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="username" required />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="password" required />
  </p>
  <p>
    <label for="password_confirm">Password:</label>
    <input type="password" name="password_confirm" placeholder="password_confirm" required />
  </p>
  <p>
    <button type="submit">Create Account</button>
  </p>
</form>